/*============================================
    並列表示のlayout
=============================================*/
.flex-cell-program {
    display: flex;
    gap: 20px;
}

/* 1:1 レイアウト*/
.flex-cell-program > div {
    flex: 1;                /* 1:1の割合で均等にスペースを分け合う */
}

/***********************************************************
 * 以下は、３：２レイアウト
 ***********************************************************/
/* 左側のボックスを「3」の割合にする */
/*
.flex-cell-program > div:first-child {
    flex: 3; 
}
*/

/* 右側のボックスを「2」の割合にする */
/*
.flex-cell-program > div:last-child {
    flex: 2; 
}
*/

/*プログラムコードの表示*/
pre {
  text-align: left;       /* 中のテキストを左揃えにする */
  margin-left: 0;         /* 左の余白をなくす */
  margin-right: auto;     /* 右の余白を自動にして左に寄せる */
}