/* ページ全体 */
body {
    font-family: "メイリオ", Meiryo, sans-serif;
}

/* 表題Box */
.title-box {
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}
